/* CSS -->

  // create CSS classes for each vessel (carrier, battleship, destroyer, submarine, minesweeper)
  // create CSS classes for empty, hit, miss
  // create CSS class for target

*/ 

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
  grid-template-rows: 50px 50px 800px 50px;
  margin: 0;
}


#top {
  background-color: black;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

#bottom {
  background-color: black;
  grid-column: 1 / 4;
  grid-row: 3 / span 2;
}

#game-container {
  display: grid;
  grid-template-columns: 425px 425px;
  grid-template-rows: 100px 1fr 1fr;
  background-color: #505050;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  outline: 20px solid darkgrey;
  background-image: radial-gradient(black,#505050,#808080);
  outline-style: ridge;
  outline-color: darkgrey;
  outline-width: 20px;
  backdrop-filter: sepia(.9);
}



header {
  background-color: gainsboro;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Poiret One', cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
  padding: 10px;
  margin: 0 auto;
  
}

.playerOceanGrid {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.aiOceanGrid {
  grid-column: 1 / 2;
  grid-row: 3 / 4; 
}

.playerTargetingGrid {
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
}

.aiTargetingGrid {
  grid-column: 2 / 3;
  grid-row: 3 / 4; 
}

.playerTargeting {
  border: solid 1px lightgrey;
}

.playerOcean {
  border: solid 1px #00CC66;
}

.aiTargeting {
  border: solid 1px lightgrey;
}

.aiOcean {
  border: solid 1px #00CC66;
}

.carrier {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom right, #505050 , lightgrey);
}

.battleship {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom right, #505050 , lightgrey);
}

.destroyer {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom right, #505050 , lightgrey);
}

.submarine {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom right, #505050 , lightgrey);
}

.minesweeper {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom right, #505050 , lightgrey);
}

.target {
  background-color: grey;
  background-image: radial-gradient(whitesmoke, darkgrey);
}

.miss {
  background-color: black;
  background-image: radial-gradient(gainsboro, #505050);
}

.hit {
  background-color: #00CC66;
  background-image: radial-gradient(#00CC66, #006666);
}

button {
  height: 60px;
  width: 150px;
  margin-left: 35px;
  margin-right: 20px;
  background-color: whitesmoke;
  color: black;
  border: solid 1px darkgrey;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: 25px;
  box-shadow: 5px 5px 5px grey;
  transition: all 0.5s ease-out;
}

button:hover,button:focus {
  background-color: #505050;
  color:whitesmoke;

}

#image{
  width: 100%;
  height: 100%;
}


#messages {
  width: 330px;
  height: 50px;
  background-color: #505050;
  margin-left: 52px;
  border-radius: 10px;
  border: solid 1px darkgrey;
  box-shadow: 5px 5px 5px grey;
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: #00CC66;
  padding: 10px;
}